.next-button {
    position: absolute;
    border: none;
    right: 0;
    top: 45%;
    margin: 30px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.next-button:hover {
    transform: scale(1.35);
}
