.search-grid {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 5px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .search-grid {
        grid-template-columns: repeat(10, 30px);
        border: none;
        max-height: 80%;
    }
}
